[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
invoke = "*"
sphinx-autodoc-typehints = "*"
sphinx-sitemap = "*"
pylint = "*"

[packages]
flask = "*"
pyinstaller = "*"
pyfladesk = "==1.1"
cherrypy = "*"
argparse = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[scripts]
build_docs = "sphinx-build -E -b html docs docs/_build"
serve_docs = "python -m http.server --directory docs/_build"
web = "python -m pelican_cms.web"
web_debug = "python -m pelican_cms.web --debug"
desktop = "python -m pelican_cms.desktop"
build_web = "pyinstaller -w -F pelican_cms/web.py"
build_desktop = "pyinstaller -w -F pelican_cms/desktop.py"

[requires]
python_version = "3.7"
